<!DOCTYPE html>
<html 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:py="http://genshi.edgewall.org/" 
    xmlns:xi="http://www.w3.org/2001/XInclude" 
    xmlns:i18n="http://genshi.edgewall.org/i18n"
  >

  <py:match path="head" once="true" >
  <head>
    ${select('*')} 
    <title>See you later</title>
  </head>
  </py:match>
  <py:match path="body/div[@id='content']" once="true" >
  <div id="${select('@id')}" class="page ${select('@class')}">
     <h2>See you later!</h2>
  </div>
  </py:match>
  
  <xi:include href="../base.html" />

</html>
