<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Reverse Proxy OpenID Provider" enabled="true" stopProcessing="true">
                    <match url="(.*)" negate="false" />
                    <action type="Rewrite" url="http://id-provider-1.localdomain/{R:1}" logRewrittenUrl="false" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="id-provider.example.com" />
                    </conditions>
                    <serverVariables>
                        <!-- Ensure this non-standard server variable is allowed at the server-level -->
                        <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
                    </serverVariables>
                </rule>
            </rules>
            <outboundRules>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
